body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.index-hd {
    font-family: 'Roboto Slab', serif;
}

.logo-index {
    text-align: center;
}

#main-image {
    width: 100%;
}


.dl-horizontal dt {
    white-space: normal;
}

.table-red {
    background-color: white;
    
}

.table a {
    color: #C01124;
}
.no-highlight {
   
}


.highlight-row {
    font-style: oblique;
    
}

.tdlist {
    color: black;
}

input,
select,
textarea {
    max-width: 280px;
}

#navbarmain {
    background-color: #C01124;
}

#navbarli {
    color: #f8f8f8;
    font-family: 'Roboto Slab', serif;
}

#navbarmain a:hover {
    background-color: darkred;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background-color: transparent;
    color: #f8f8f8;
    cursor: default;
}


.navbar-brand {
    color: #f8f8f8 !important;
    font-family: 'Roboto Slab', serif; 
}

.btn-primary {
    background-color: #C01124;
    border: none;
    border-radius: 0px 0px;
}

footer {
    background-color: #C01124;
    color: #f8f8f8;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}
