@{
    ViewBag.Title = "Machine Inventory";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="index-hd index-hd2">Welcome to the Machine Inventory application.</h2><br />
            <h4 class="body-content">Navigate to the Machine or Attachment tables via the navbar.</h4>
        </div>
    </div>
    <div></div>
    
    
</div>

